<div style="max-width: 600px; margin: auto; text-align: center; margin-top: 20px; font-family: 'proxima-nova', 'Open Sans', sans-serif; color: #425563;">
  <div style="height: 10px; background-color: #00c389;"></div>
  <table>
    <thead>
      <img src= "http://www.happyco.com/wp-content/uploads/2015/06/HappyCo-green.png" style= "margin-top: 20px;"/>
    </thead>
    <tbody>
      <tr><p style="font-size: 30px">Hello, from HappyCo!</p></tr>
      <tr><img src="http://www.happyco.com/wp-content/uploads/2015/06/dd-img3-e1435345539544.png" style="max-width: 70vw;"/></tr>
      <tr>
        <div style="margin: 20px;">
          <p style="font-size: 14px; text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;So, you love the HappyCo Inspector tablet app—you've created templates, done inspections, and generated reports, all on your iPad or iPhone. But, did you know that HappyCo also delivers a complimentary desktop app to keep track of all your units, templates, and reports? Just enter in the same email and password you use to sign on to the tablet app and you're already set up!</p>
          <p style="content-align: center">
            <a href="https://app.happyinspector.com" style="color: white; border-radius: 3px; background-color: #00c389; display: inline-block; width: auto; height: 39px; line-height: 39px; margin: 2px; padding: 0 23px; border: 2px solid #00c389; font-size: 13px; font-weight: 700; text-align: left; text-decoration: none; cursor: pointer; white-space: nowrap; outline: 0; text-transform: uppercase; letter-spacing: 1px; border-radius: 4px; -o-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px;">Take me to the app</a>

            <a href="mailto:support@happyinspector.com" style="background-color: #4A90E2; color: white; display: inline-block; width: auto; height: 39px; line-height: 39px; font-size: 13px; font-weight: 700; margin: 2px; padding: 0 23px; border: 2px solid #4A90E2; text-align: left; text-decoration: none; cursor: pointer; white-space: nowrap; outline: 0; text-transform: uppercase; letter-spacing: 1px;  border-radius: 4px; -o-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px;">I have a question</a>
          </p>
          <p style="font-size: 18px">Happy inspecting!</p>
          <p style="font-size: 14px">Your Friendly HappyCo Team</p>
        </div>
      </tr>
    </tbody>
  </table>
  <div style="height: 10px; background-color: #00c389;"></div>
</div>