<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://use.typekit.net/c/68ebf0/1w;proxima-nova,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,gbk:V:i3,gbm:V:i4,gbt:V:i7,gbj:V:n3,gbl:V:n4,gbs:V:n7/d?3bb2a6e53c9684ffdc9a9af11f5b2a6290826e84c363a71fe46ed264f6cf58f2450438ac402b2c8e7441225b448da31eb8b8ceca7c1032ae6ee513d6bcf689ce7f0098ae2c1848e5075502' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>