<div style="max-width: 600px; margin: auto; text-align: center; margin-top: 20px; font-family: 'proxima-nova', 'Open Sans', sans-serif; color: #425563; background-color: #f6f6f6">
  <div style="height: 10px; background-color: #00c389;"></div>
  <table>
    <thead>
      <img src= "http://www.happyco.com/wp-content/uploads/2015/06/HappyCo-green.png" style= "margin: 20px 0;"/>
    </thead>
    <tbody>
      <tr>
        <p style="margin-left: 20px; text-align: left;">Hi there,
          <br>HappyCo here just wanting to say hi!
          <br><br>Cheers!
          <br>The HappyCo Team
        </p>
      </tr>
    </tbody>
  </table>
</div>
