<div style="max-width: 600px; margin: auto; text-align: center; margin-top: 20px; font-family: 'proxima-nova', 'Open Sans', sans-serif; color: #425563;">
  <img src="http://www.happyco.com/wp-content/uploads/2015/08/happythoughts.png" style="max-width: 600px; margin: auto;"/>
  <div style="max-width: 80%; text-align: left; margin: auto;">
    <table>
      <tbody>
        <tr>
           <p><b style="color: black;">Hi, {{ first_name | fallback: "there" }}!</b><br><br>
          Here at HappyCo, we've been busy rolling out new features and fixing bugs, all to bring you a better, faster, more efficient way to inspect all of your assets. "Happy Thoughts" is our new way of letting you, our client, know about these changes to the V3 Inspector app. If you have not yet migrated over to V3, please contact the support team to get you up and running on our latest version, so that you, too, can enjoy all of these great new features.</p>
        </tr>
        <tr>
          <p><b style="color: black;">New Feature 1:</b><br>blah blah blah</p>
        </tr>
        <tr>
          <p><b style="color: black;">New Feature 2:</b><br>blah blah blah</p>
        </tr>
        <tr>
          <p><b style="color: black;">New Feature 3:</b><br>blah blah blah</p>
        </tr>
        <tr>
          <p>Happy Inspecting!<br><b style="color: black;">Your Friendly HappyCo Team</b></p>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
   <a href="mailto:support@happyinspector.com" style="background-color: #ffaa41; color: white; display: inline-block; width: auto; height: 39px; line-height: 39px; font-size: 13px; font-weight: 700; margin: 2px; padding: 0 23px; border: 2px solid #ffaa41; text-align: left; text-decoration: none; cursor: pointer; white-space: nowrap; outline: 0; text-transform: uppercase; letter-spacing: 1px; border-radius: 4px; -o-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px;">contact the support team</a>
  </div>
  <div style="height: 10px; background-color: #00c389; margin-top: 10px;"></div>
</div>